@CHARSET "ISO-8859-1";

/** **NOTE**
 * Thank you for your contribution to DotKernel 3
 *
 * Please, do not insert URL's here as they are subject to change
 * Use `_includes/styling.htm` for this
*/

html, body { min-height: 100%; height: 100%; }
body {  min-height: 100%; height: 100%; }
#wrapper { min-height: 100%; height: auto !important; margin-bottom: -100px; margin-left: auto; margin-right: auto; margin-top: 0; }


body,p{font-family:Source Sans Pro ;font-size:16px ;font-weight:300 ;}
body a{ color: #2b8dd6; }


.navbar .navbar-nav > li > a{font-family:Montserrat ;font-size:16px ;font-weight:400 ;}
h1, h2, h3, h4, h5, h6{font-family:Montserrat ;font-weight: 500 ; color: #515151;}

h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }

.navbar { background-color: #fff; margin-bottom: 0; }
.navbar-default { background-image: none; }
.banner { box-shadow: 0 1px 2px rgba(43, 48, 51, 0.08); z-index: 20; }

.navbar .navbar-nav { float: right; margin-top: 12px; }

#logo { display: block; float: left; margin-bottom: 20px; margin-left: 0; margin-right: 0; margin-top: 20px; }
header.navbar .container { max-width: 100%; padding-bottom: 0; padding-left: 50px; padding-right: 50px; padding-top: 0; width: 100%; }
.logo-reg { height: 40px; width: 171px; }
.navbar .navbar-nav > li > a { color: #828282; }
.navbar-default .navbar-toggle .icon-bar { background-color: #c71f3a; }

.navbar-default .navbar-toggle { border: none; }
.navbar-default .navbar-toggle:hover { background-color: transparent; }

.main_page_title { background-color: #BE2040; padding: 20px 50px; margin-bottom: 50px; }



.page-title h1 { color: #fff; text-transform: uppercase; font-weight: 500; font-size: 18px; }

.inner-container { background-color: #fff; padding-bottom: 50px; }

#push, footer { height: 100px; clear:both;}
.footer-btm-bar { background-attachment: scroll; background-clip: border-box; background-color: #F7F7F7; background-image: none; background-origin: padding-box; background-position-x: 0;background-position-y: 0; background-repeat: repeat; background-size: auto auto; width: 100%; padding: 25px 0px 15px 0px; }
.footer-btm-bar span { font-size: 16px; color: #808080; font-weight: 500; }
.footer-btm-bar ul { list-style-type: none; padding-left: 0px; }
.footer-btm-bar ul li img { width: 50px;  padding-right: 5px; }
.footer-btm-bar ul li { padding: 0px 10px 10px 0px; display: inline-block; }
.footer-btm-bar ul li a { color: #808080; }


#dk3DocsSideMenu h3 { color: #6d6d6d; font-size: 20px; font-weight: normal; padding-bottom: 10px; position: relative; }
#dk3DocsSideMenu  ul { padding-left: 0px; }
#dk3DocsSideMenu  ul li:first-child { padding-top: 0; }
#dk3DocsSideMenu ul li { border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px; list-style-image: none; list-style-position: outside; list-style-type: none; padding-bottom: 8px; padding-left: 0; padding-right: 0; padding-top: 8px; }
#dk3DocsSideMenu ul li a { font-size: 16px; color: #808080; }

.edit { text-align: right; }
.edit_button { background-color: transparent; border: none; }
.main h1, h2, h3, h4, h5, h6 { padding-top: 20px; color: #1a1a1a; }
.main h1 { font-size: 40px; }
.main h2 { font-size: 24px; }
.main li a { color: #2046a4;  }
.main li a:hover { text-decoration: none; }
.caret { display: none; }

@media (max-width: 1200px) {
	header.navbar .container { max-width: 970px; padding: 0px 15px; }
}

@media (max-width: 991px) {
	header.navbar .container { max-width: 750px; }
}

@media (max-width: 767px) {
	header.navbar .container { max-width: 100% !important; padding: 0px 30px; }
	.navbar .navbar-nav { float: left; }
	.navbar {  background-color: #FFFFFF; }
	.navbar .navbar-nav > li > a { color: #212121;}
	.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li.active > a:hover { color: #000000;}
	.navbar .navbar-nav .open .dropdown-toggle { background: #FFFFFF !important; }
	.navbar .navbar-nav .dropdown-menu { background-color: #FFFFFF; }
	.container { width: 100% !important;}
	.page-title h1 { font-size: 220%; }
	.page-title.centered { padding: 20px 5px; }
	.page-title.centered h1 { font-size: 200% ; }
	.page-title.left { padding-right: 0px; }
	.page-title.left h1 { font-size: 170%; line-height: 30px; }
	.navbar-toggle { left: 20px; top: 15px; }
	.caret { display: inline-block; }
	.footer-btm-bar ul li a{  line-height: 0; font-size: 0; color: transparent; }
	.footer-btm-bar ul li { display: inline; }
	.footer-btm-bar ul { text-align: center; }
	.footer-btm-bar p { text-align: center; padding: 10px 0px; }
	
}
.panel { box-shadow: none; }
.panel .panel-title a { font-size: 16px; color: #808080; }
.panel-default { border: none; background-color: #fff; }
.panel-heading { padding: 0px; }
.panel-default > .panel-heading { background-image: none; background-color: #fff; border: none; }
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body { border: none; }
.list-group { box-shadow: none; border-radius: 0; background-color: #fff; }
.list-group-item { background-color: #fff; margin-top: 10px; }
#dk3DocsSideMenu ul { padding-left: 40px; }
#dk3DocsSideMenu ul li { border: none; }
#dk3DocsSideMenu a:hover { text-decoration: none; }
#dk3DocsSideMenu a:active { color: #BE2040; }


button { width: 20px; height: 13px; margin-top: -18px; }
<!-- arrows moved in styling.htm -->
.smallerFont { font-size: 13px; }