@CHARSET "ISO-8859-1";
body,p{font-family:Source Sans Pro ;font-size:16px ;font-weight:300 ;}
.navbar .navbar-nav > li > a{font-family:Montserrat ;font-size:16px ;font-weight:400 ;}
h1, h2, h3, h4, h5, h6{font-family:Montserrat ;font-weight:400 ;}

.navbar .navbar-nav { float: right; margin-top: 12px; }

#logo { display: block; float: left; margin-bottom: 20px; margin-left: 0; margin-right: 0; margin-top: 20px; }
header.navbar .container { max-width: 100%; padding-bottom: 0; padding-left: 50px; padding-right: 50px; padding-top: 0; width: 100%; }

.navbar-default .navbar-toggle .icon-bar { background-color: #c71f3a; }

.navbar-default .navbar-toggle { border: none; }
.navbar-default .navbar-toggle:hover { background-color: transparent; }

.page-title { border-bottom-color: #e6e6e6; border-bottom-style: solid; border-bottom-width: 2px; }
.page-title.left { padding-bottom: 60px; padding-left: 0; padding-right: 30%; padding-top: 60px; }
.page-title { margin-bottom: 0; margin-left: 15px; margin-right: 15px; margin-top: 0; }

.page-title h1 { color: #111523; text-transform: uppercase; }

.footer-btm-bar { background-attachment: scroll; background-clip: border-box; background-color: #e9ebf3; background-image: none; background-origin: padding-box; background-position-x: 0;background-position-y: 0; background-repeat: repeat; background-size: auto auto; border-top-color: #bbc6da; border-top-style: solid; border-top-width: 1px; width: 100%; padding: 25px 0px 15px 0px; margin-top: 50px; }
.footer-btm-bar span { font-size: 12px; color: #4a4a4a; font-weight: 500; }

#dk3DocsSideMenu h3 { color: #6d6d6d; font-size: 20px; font-weight: normal; margin-bottom: 20px; padding-bottom: 10px; position: relative; }
#dk3DocsSideMenu  ul { padding-left: 0px; }
#dk3DocsSideMenu  ul li:first-child { padding-top: 0; }
#dk3DocsSideMenu ul li { border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px; list-style-image: none; list-style-position: outside; list-style-type: none; padding-bottom: 8px; padding-left: 0; padding-right: 0; padding-top: 8px; }
#dk3DocsSideMenu ul li a { font-size: 14px; }

.edit_button { float: right; background-color: transparent; border: none; }
.main { padding-top: 20px; color: #5c5c5c; }

@media (max-width: 991px) {
	header.navbar .container { padding: 0px 20px; }
}

@media (max-width: 782px) {
	.navbar .navbar-nav { float: left; }
	.navbar {  background-color: #FFFFFF; }
	.navbar .navbar-nav > li > a { color: #212121;}
	.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li.active > a:hover { color: #000000;}
	.navbar .navbar-nav .open .dropdown-toggle { background: #FFFFFF !important; }
	.navbar .navbar-nav .dropdown-menu { background-color: #FFFFFF; }
	.container { width: 100% !important;}
	.page-title h1 { font-size: 220%; }
	.page-title.centered { padding: 20px 5px; }
	.page-title.centered h1 { font-size: 200% ; }
	.page-title.left { padding-right: 0px; }
	.page-title.left h1 { font-size: 170%; line-height: 30px; }
	.navbar-toggle { left: 20px; top: 15px; }
}


.smallerFont{
	font-size: 13px;
}